h1{text-align:Left; 
  color: goldenrod;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-stretch: ultra-expanded;
  font-weight: 1000;
  font-style: bold;
}

h2{text-align:center; 
  color: goldenrod;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-stretch: ultra-expanded;
  font-weight: 400;
  font-weight: bold;
}

body{
  background-color: lightgray;
  font-family: 'Times New Roman', Times, serif;
}

.center{
  text-align: center;
}

.left{
  text-align: left;
} 

.right{
  text-align: right;
} 

.para{font-family: 'Times New Roman', Times, serif;
font-size: medium;
text-align: justify;
  color: black;
}

.a{ text-decoration: none; 
  color: white;
}

li{
  color: white;
}

.white{
  color: white;
}

.bold{
  font-weight: bold;
}

 .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color:black;
      padding: 10px 20px;
      border-bottom: 2px solid #000;
    }

    .header-left {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .header-right a {
      margin-left: 20px;
      text-decoration: none;
      font-weight: bold;
      color: antiquewhite;
      flex: 1;
    }

    .header-right a:hover {
      color: #0077cc;
    }

.image {
  width: 100%;
  height: auto;
  display: block;
  margin: center;
  border-radius: 50%;
}

.container {
      display: flex;
      background-color: antiquewhite;
      padding: 20px;
      gap: 30px; /* space between image and text */
      align-items: center;
      flex-wrap: wrap;
    }

.link {
  font-style: italic;
  color: slategray;
  font-weight: bold;}

.font{
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-stretch: ultra-expanded;
  font-weight: 600;
  font-weight: bold;
  color: black;
}